
* {
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto,auto,auto;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin:0px;
}
.main{
  display:flex;
  flex: 1;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: blanchedalmond;
  align-content: center;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding:5px;
  border-bottom: 1px;
  border-color: rgb(57, 37, 12);
  margin-bottom: 2cm;
}
h1{
  align-content: center;
  text-align: center;
  flex: 1;
  margin-bottom: 4px;
}
h3{
  align-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: antiquewhite;
  font-size: x-large;
  padding-top: 0;
  margin-top: 0;
  flex: 1;
}
.main img{
  width: 100%;
  align-items: center;
  flex: 1;
  height:auto;
}
.buy-now{
  background-color: rgb(41, 36, 28);
  color:rgb(194, 189, 189);
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom:0.2cm;
  padding-left: 0.2cm;
  padding-right:0.2cm;
  padding-top: 0.2cm;
  width:fit-content;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  flex: 1;
  height: auto;

}
.buy-now:hover {
  background-color: #937849; 
}

.buy-now:active {
  background-color: #e19c64; 
}

.people{
  display:flex;
  flex-direction: row;
  max-width: 1920px;
  justify-content: space-between;
  gap: 20px;

}
.potter{
  flex: 33.33%;
  padding: 0px;
  overflow: hidden;
  width: 50%;

}

.krum{
  flex: 33.33%;
  padding: 0px;
  overflow: hidden;
  width: 50%;
}
.potter img, .krum img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.endorsement{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: blanchedalmond;
  align-content: center;
  text-align: center;
  background-color: black;
}

.form{
  background-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: blanchedalmond;

}
@media only screen and (max-width: 819px){
    .body{
        word-wrap: break-word;
        width:100%;
        height: auto;
    }
    .container{
        display:flex;
        flex: 1;
        flex-direction: column;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: blanchedalmond;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:1px;
        border-bottom: 0.5px;
        border-color: rgb(57, 37, 12);
        margin-bottom: 20px;
        height:auto;
        width:100%;
    }
    h1{
        align-content: center;
        text-align: center;
        flex: 1;
        margin-bottom: 2px;
        font-size: 45px;
        overflow-wrap: break-word;
    }
    h3{
      align-content: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      color: antiquewhite;
      font-size: medium;
      flex: 1;
    }
    .main img{
      align-items: center;
      flex: 1;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin:5px;
    }
    .buy-now{
      background-color: rgb(41, 36, 28);
      color:rgb(194, 189, 189);
      align-items: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding-bottom:0.1cm;
      padding-left: 0.1cm;
      padding-right:0.1cm;
      padding-top: 0.1cm;
      width:fit-content;
      justify-content: center;
      font-size: x-large;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: none;
      flex: 1;
      height: auto;
    } 
    .endorsement{
      margin-top: 0px;
    }
}
@media (min-width: 820px) and (max-width: 1200px) {
  .body{
        word-wrap: break-word;
        max-width:900px;
        height: auto;
        margin:0px;
  }
  .container{
      display:flex;
      flex: 1;
      flex-direction: column;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: blanchedalmond;
      align-content: center;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding:2px;
      border-bottom: 0.5px;
      border-color: rgb(57, 37, 12);
      margin-bottom: 0.75cm;
      height:auto;
      width:100%;
  }
  h1{
      align-content: center;
      text-align: center;
      flex: 1;
      margin-bottom: 2px;
      font-size: 50px;
      overflow-wrap: break-word;
  }
  h3{
    align-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: antiquewhite;
    font-size: large;
    flex: 1;
  }
  .main img{
    align-items: center;
    flex: 1;
    height: auto;
    width:100%;
    margin:5px;
  }
  .buy-now{
    background-color: rgb(41, 36, 28);
    color:rgb(194, 189, 189);
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom:0.1cm;
    padding-left: 0.1cm;
    padding-right:0.1cm;
    padding-top: 0.1cm;
    width:fit-content;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    flex: 1;
    height: auto;
  } 
}

input[type=text] {
  border: 2px solid blanchedalmond;
  background-color: black;
  width:50%;
  colour:blanchedalmond;
}
input[type=submit]{
  background-color: blanchedalmond;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  height: fit-content;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myDropdown {
  background-color: rgb(0, 0, 0);
  color: blanchedalmond;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

