* {
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto,auto,auto;
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin:0px;
}
.main{
  display:flex;
  flex: 1;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: blanchedalmond;
  align-content: center;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding:5px;
  border-bottom: 1px;
  border-color: rgb(57, 37, 12);
  margin-bottom: 2cm;
}
h1{
  align-content: center;
  text-align: center;
  flex: 1;
  margin-bottom: 4px;
}
h3{
  align-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: antiquewhite;
  font-size: x-large;
  padding-top: 0;
  margin-top: 0;
  flex: 1;
}
.main broom{
  width: 100%;
  align-items: center;
  flex: 1;
  height:auto;
}
.buy-now{
  background-color: rgb(41, 36, 28);
  color:rgb(194, 189, 189);
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom:0.2cm;
  padding-left: 0.2cm;
  padding-right:0.2cm;
  padding-top: 0.2cm;
  width:fit-content;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  flex: 1;
  height: auto;

}
.buy-now:hover {
  background-color: #937849; 
}

.buy-now:active {
  background-color: #e19c64; 
}

.people{
  display:flex;
  flex-direction: row;
  max-width: 1920px;
  justify-content: space-between;
  gap: 20px;

}
.potter{
  flex: 33.33%;
  padding: 0px;
  overflow: hidden;
  width: 50%;

}

.krum{
  flex: 33.33%;
  padding: 0px;
  overflow: hidden;
  width: 50%;
}
.potter img, .krum img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.endorsement{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: blanchedalmond;
  align-content: center;
  text-align: center;
  background-color: black;
}

.form{
  background-color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: blanchedalmond;

}
